body {
  font-family: -system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: #c2c2c2;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  background-color:#201b29;
}

.container {
  position: absolute;
  top:0px;
  bottom: 0px;
  left:0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin:5vh;
}

.img-container {
  flex: 1;
  display: flex;
  width: 40vw;
  height: 80vh;
  overflow-y: hidden;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.img-container img{
  width: 100%;
  height: 100%;
}

.tweet-content{
  color: #201b29;
}

.tweet-container {
  flex: 1;
  display: flex;
  padding-left: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  background-color: white;
  margin-left: 10px;
}

.noimage{
  display:none !important;
}

.tweet-handle-container {
  display: flex;
  flex: 1;
  color: #201b29;
}

.tweet-handle-image > img {
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  margin-right: 16px;
}

.tweet-handle-name {
  flex: 1;
  font-weight: bold;
  font-size: 24px;
}

.tweet-handle-name p{
  margin:0px;
}

#user-description {
  font-size: 14px;
}

footer {
  position:absolute;
  bottom:4px;
  left: 0px;
  right: 0px;
  font-size: 14px;
  text-align: center;
  color: white;
}
